@font-face {
    font-family: "superHex";
    src: url("../data/bumpitup.woff"),
    url("../data/bumpitup.ttf");
}

body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    /* font-family: TRY Verdana ELIF Geneva ... */
    /* PARAMETER: sans-serif, serif, monospace, cursive, fantasy */
    /* sans-serif = without serif */
    /* cursive = handwritten */
    /* fantasy = stylized decorative */

    font-size: 14px;

    color: silver;

    font-weight: bold;
    /* PARAMETER: lighter, normal, bold, bolder */

    text-decoration: underline;
    /* none, underline, overline, line-through */


}

h1 {
    font-family: "superHex", sans-serif;
    font-size: 150%;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: large;
}